@{
    ViewData["Title"] = "WatchTower | Home Page";
}

<div class="text-center">
    <img src="~/img/watchtower-logo.png" />
    <h4>A Place to keep up with your shows</h4>
    <p>Log your shows, services, and friends to track what you are watching, where you are watching it, when and with whom.</p>
</div>
